<p id="notice"><%= notice %></p>
<% if !user_signed_in? %>

<div class="jumbotron">
  <h1>Your Favorite Movies Reviewed</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p><%= link_to "Sign Up to Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3 ">
      <div>
        <%= link_to (image_tag movie.image.variant(resize: '400x300'), class: 'img-thumbnail'), movie %>
      </div>
    </div>
  <% end %>
</div>

<% else %>

<h1>Movies</h1>

<div class="card-group">
  <% @movies.each do |movie| %>
  <div class="card">
    <% if movie.image.attached? %>
    <%= link_to (image_tag movie.image.variant(resize: '400x400'), class:'card-img-top'), movie %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= movie.title %></h5>
      <p class="card-text"><%= movie.description %></p>
      <p class="card-text"><%= movie.movie_length %></p>
      <p class="card-text"><%= movie.director %></p>
      <p class="card-text"><%= movie.rating %></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <% end %>
</div>




<br>

<%= link_to 'New Movie', new_movie_path %>

<% end %>