<p id="notice"><%= notice %></p>

<div class="card-group">
  <div class="card">
    <% if @movie.image.attached? %>
    <%= link_to (image_tag @movie.image.variant(resize: '200x200'), class:'card-img-top'), @movie %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"> Title: <%= @movie.title %></h5>
      <p class="card-text"> Description: <%= @movie.description %></p>
      <p class="card-text"> Length: <%= @movie.movie_length %></p>
      <p class="card-text"> Director: <%= @movie.director %></p>
      <p class="card-text"> Rating: <%= @movie.rating %></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
